<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>らくらく家計簿</title>
  <style>
      #bar {
          margin-top: 50px;
      }
  </style>
</head>
<body>
  <canvas id="doughnut" width="400" height="400"></canvas>
  <canvas id="bar" width="400" height="400"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script>
    let dctx = document.getElementById('doughnut').getContext('2d');
    let doughnutChart = new Chart(dctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: <%- doughnut.data %>,
                backgroundColor: <%- doughnut.backgroundColor %>
            }],
            labels: <%- doughnut.labels %> 
        }
    });
    let bctx = document.getElementById('bar').getContext('2d');
    let barChart = new Chart(bctx, {
        type: 'bar',
        data: {
            labels: <%- bar.labels %>,
            datasets: [{
                data: <%- bar.data %>,
                backgroundColor: <%- bar.backgroundColor %>,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  </script>
</body>
</html>
